In [1]:
import pandas as pd
import pickle

In [2]:
word_index = pickle.load("index.idx","rb")

TypeError: Function takes at most 1 positional arguments (2 given)

In [3]:
word_index = pickle.load(open("index.idx","rb"))

In [16]:
word_df = pd.DataFrame(word_index)

In [18]:
len(np.nan)

TypeError: object of type 'float' has no len()

In [9]:
word_df

,a,abborrar,abborrarna,abborre,abborren,abborrens,abborrn,abcbok,abcdarierna,abessinien,...,övervåningen,övervåningens,överöste,övet,övning,övningar,övningarna,övre,övriga,övrigt
bannlyst.txt,"[13003, 13147, 32920, 37938, 117545, 175932, 1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[173796, 175303, 175448, 176753]",NaN,[5820],NaN,NaN,NaN,NaN,NaN,"[25160, 156352, 282929, 371787, 418013]","[123799, 131294]"
gosta.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[18809, 159792, 177287, 182614, 182835, 185117...","[48818, 636442, 717950]","[205100, 680620]"
herrgard.txt,"[93786, 106941, 171693, 172293]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[452, 24605, 97563, 118082, 137376]",[135101],NaN,NaN,NaN,[174556],NaN,NaN,NaN,"[69105, 169744]"
jerusalem.txt,"[302139, 302143, 593718, 681258, 756025]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[70560, 250742, 626334]",NaN,NaN,NaN,[149499],[706417],[707066],NaN,"[266586, 297278, 299895, 519979, 706664]",NaN
kejsaren.txt,"[102811, 146118, 322207]",NaN,NaN,NaN,NaN,NaN,[262109],NaN,[54372],NaN,...,"[205891, 206730, 211860]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[233250, 243585]"
marbacka.txt,[190251],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[4923, 154347, 155378]",[133824],"[154619, 366822]"
nils.txt,NaN,NaN,NaN,[43923],[44681],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,[86189],NaN,NaN,"[108402, 128206, 167491, 713775, 914920]","[51613, 113413, 136217, 152431, 215599, 386853...","[416890, 501142, 846708]"
osynliga.txt,"[12016, 12114, 369921, 420196, 450083, 479214,...",NaN,NaN,NaN,NaN,"[139284, 606408]",NaN,"[12271, 479463]",NaN,"[335019, 815573]",...,"[158603, 625772]",NaN,NaN,[157541],NaN,NaN,NaN,"[67408, 534579]","[80586, 214838, 319190, 370109, 547762, 684522...","[181651, 648706]"
troll.txt,"[79500, 79511, 79530, 79540]","[118577, 145169]",[119731],NaN,[119240],NaN,NaN,NaN,NaN,NaN,...,"[204711, 206949]",NaN,NaN,NaN,NaN,NaN,NaN,"[329300, 329398, 336431]","[36446, 65078]",NaN

In [17]:
import numpy as np

In [10]:
len_word = word_df.applymap(len)

TypeError: ("object of type 'float' has no len()", 'occurred at index a')

In [20]:
word_non_na = word_df.replace(np.nan,"")

In [21]:
word_non_na

,a,abborrar,abborrarna,abborre,abborren,abborrens,abborrn,abcbok,abcdarierna,abessinien,...,övervåningen,övervåningens,överöste,övet,övning,övningar,övningarna,övre,övriga,övrigt
bannlyst.txt,"[13003, 13147, 32920, 37938, 117545, 175932, 1...",,,,,,,,,,...,"[173796, 175303, 175448, 176753]",,[5820],,,,,,"[25160, 156352, 282929, 371787, 418013]","[123799, 131294]"
gosta.txt,,,,,,,,,,,...,,,,,,,,"[18809, 159792, 177287, 182614, 182835, 185117...","[48818, 636442, 717950]","[205100, 680620]"
herrgard.txt,"[93786, 106941, 171693, 172293]",,,,,,,,,,...,"[452, 24605, 97563, 118082, 137376]",[135101],,,,[174556],,,,"[69105, 169744]"
jerusalem.txt,"[302139, 302143, 593718, 681258, 756025]",,,,,,,,,,...,"[70560, 250742, 626334]",,,,[149499],[706417],[707066],,"[266586, 297278, 299895, 519979, 706664]",
kejsaren.txt,"[102811, 146118, 322207]",,,,,,[262109],,[54372],,...,"[205891, 206730, 211860]",,,,,,,,,"[233250, 243585]"
marbacka.txt,[190251],,,,,,,,,,...,,,,,,,,"[4923, 154347, 155378]",[133824],"[154619, 366822]"
nils.txt,,,,[43923],[44681],,,,,,...,,,,,[86189],,,"[108402, 128206, 167491, 713775, 914920]","[51613, 113413, 136217, 152431, 215599, 386853...","[416890, 501142, 846708]"
osynliga.txt,"[12016, 12114, 369921, 420196, 450083, 479214,...",,,,,"[139284, 606408]",,"[12271, 479463]",,"[335019, 815573]",...,"[158603, 625772]",,,[157541],,,,"[67408, 534579]","[80586, 214838, 319190, 370109, 547762, 684522...","[181651, 648706]"
troll.txt,"[79500, 79511, 79530, 79540]","[118577, 145169]",[119731],,[119240],,,,,,...,"[204711, 206949]",,,,,,,"[329300, 329398, 336431]","[36446, 65078]",

In [22]:
len_word = word_non_na.applymap(len)

In [23]:
len_word

,a,abborrar,abborrarna,abborre,abborren,abborrens,abborrn,abcbok,abcdarierna,abessinien,...,övervåningen,övervåningens,överöste,övet,övning,övningar,övningarna,övre,övriga,övrigt
bannlyst.txt,16,0,0,0,0,0,0,0,0,0,...,4,0,1,0,0,0,0,0,5,2
gosta.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9,3,2
herrgard.txt,4,0,0,0,0,0,0,0,0,0,...,5,1,0,0,0,1,0,0,0,2
jerusalem.txt,5,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,1,1,0,5,0
kejsaren.txt,3,0,0,0,0,0,1,0,1,0,...,3,0,0,0,0,0,0,0,0,2
marbacka.txt,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,1,2
nils.txt,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,5,11,3
osynliga.txt,7,0,0,0,0,2,0,2,0,2,...,2,0,0,1,0,0,0,2,8,2
troll.txt,4,2,1,0,1,0,0,0,0,0,...,2,0,0,0,0,0,0,3,2,0

In [24]:
word_count_book = len_word.apply(sum(0))

TypeError: 'int' object is not iterable

In [28]:
word_count_book = len_word.apply(np.sum, axis = 1)

In [29]:
word_count_book

bannlyst.txt      75920
gosta.txt        129098
herrgard.txt      33937
jerusalem.txt    160282
kejsaren.txt      63148
marbacka.txt      67285
nils.txt         197960
osynliga.txt     164931
troll.txt         69798
dtype: int64

In [66]:
book_count_word = (len_word!=0).sum(0)

In [67]:
book_count_word

a                   7
abborrar            1
abborrarna          1
abborre             1
abborren            2
abborrens           1
abborrn             1
abcbok              1
abcdarierna         1
abessinien          1
abessinierna        1
abessiniska         1
abraham             2
abrahams            1
absalon             1
absolut             2
absoluta            1
abstinens           1
abu                 1
ach                 1
achmed              1
ack                 8
ackja               1
ackompanjemanget    1
ackompanjera        1
ackord              1
acquilon            1
acquilons           1
adam                2
ade                 1
                   ..
övervanns           1
övervara            3
övervinna           6
övervinnas          1
övervintrat         1
övervunna           2
övervunnen          1
övervunnet          1
övervunnit          5
övervunnits         1
övervuxen           1
överväga            1
övervägde           2
överväldigad        5
överväldigade       2
överväldigande      4
överväldigat        1
överväxta           1
övervåldets         1
övervåning          2
övervåningen        6
övervåningens       1
överöste            1
övet                1
övning              2
övningar            2
övningarna          1
övre                5
övriga              7
övrigt              7
Length: 39328, dtype: int64

In [34]:
type(book_count_word)

pandas.core.series.Series

In [35]:
book_count_word["övre"]

4

In [36]:
book_number = len(word_count_book)

In [37]:
book_number

9

In [40]:
word_tf_df = len_word.div(word_count_book, axis=0)

In [41]:
word_tf_df

,a,abborrar,abborrarna,abborre,abborren,abborrens,abborrn,abcbok,abcdarierna,abessinien,...,övervåningen,övervåningens,överöste,övet,övning,övningar,övningarna,övre,övriga,övrigt
bannlyst.txt,0.000211,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000053,0.000000,0.000013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000066,0.000026
gosta.txt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000070,0.000023,0.000015
herrgard.txt,0.000118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000147,0.000029,0.000000,0.000000,0.000000,0.000029,0.000000,0.000000,0.000000,0.000059
jerusalem.txt,0.000031,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000019,0.000000,0.000000,0.000000,0.000006,0.000006,0.000006,0.000000,0.000031,0.000000
kejsaren.txt,0.000048,0.000000,0.000000,0.000000,0.000000,0.000000,0.000016,0.000000,0.000016,0.000000,...,0.000048,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000032
marbacka.txt,0.000015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000045,0.000015,0.000030
nils.txt,0.000000,0.000000,0.000000,0.000005,0.000005,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000005,0.000000,0.000000,0.000025,0.000056,0.000015
osynliga.txt,0.000042,0.000000,0.000000,0.000000,0.000000,0.000012,0.000000,0.000012,0.000000,0.000012,...,0.000012,0.000000,0.000000,0.000006,0.000000,0.000000,0.000000,0.000012,0.000049,0.000012
troll.txt,0.000057,0.000029,0.000014,0.000000,0.000014,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000029,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000043,0.000029,0.000000

In [68]:
word_idf_ser = np.log10(book_number/book_count_word)

In [69]:
word_idf_ser

a                   0.109144
abborrar            0.954243
abborrarna          0.954243
abborre             0.954243
abborren            0.653213
abborrens           0.954243
abborrn             0.954243
abcbok              0.954243
abcdarierna         0.954243
abessinien          0.954243
abessinierna        0.954243
abessiniska         0.954243
abraham             0.653213
abrahams            0.954243
absalon             0.954243
absolut             0.653213
absoluta            0.954243
abstinens           0.954243
abu                 0.954243
ach                 0.954243
achmed              0.954243
ack                 0.051153
ackja               0.954243
ackompanjemanget    0.954243
ackompanjera        0.954243
ackord              0.954243
acquilon            0.954243
acquilons           0.954243
adam                0.653213
ade                 0.954243
                      ...
övervanns           0.954243
övervara            0.477121
övervinna           0.176091
övervinnas          0.954243
övervintrat         0.954243
övervunna           0.653213
övervunnen          0.954243
övervunnet          0.954243
övervunnit          0.255273
övervunnits         0.954243
övervuxen           0.954243
överväga            0.954243
övervägde           0.653213
överväldigad        0.255273
överväldigade       0.653213
överväldigande      0.352183
överväldigat        0.954243
överväxta           0.954243
övervåldets         0.954243
övervåning          0.653213
övervåningen        0.176091
övervåningens       0.954243
överöste            0.954243
övet                0.954243
övning              0.653213
övningar            0.653213
övningarna          0.954243
övre                0.255273
övriga              0.109144
övrigt              0.109144
Length: 39328, dtype: float64

In [70]:
word_tf_idf = word_tf_df.mul(word_idf_ser, axis = 1)

In [71]:
word_tf_idf

,a,abborrar,abborrarna,abborre,abborren,abborrens,abborrn,abcbok,abcdarierna,abessinien,...,övervåningen,övervåningens,överöste,övet,övning,övningar,övningarna,övre,övriga,övrigt
bannlyst.txt,0.000023,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000009,0.000000,0.000013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000007,0.000003
gosta.txt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000018,0.000003,0.000002
herrgard.txt,0.000013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000026,0.000028,0.000000,0.000000,0.000000,0.000019,0.000000,0.000000,0.000000,0.000006
jerusalem.txt,0.000003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000003,0.000000,0.000000,0.000000,0.000004,0.000004,0.000006,0.000000,0.000003,0.000000
kejsaren.txt,0.000005,0.000000,0.000000,0.000000,0.000000,0.000000,0.000015,0.000000,0.000015,0.000000,...,0.000008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000003
marbacka.txt,0.000002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000011,0.000002,0.000003
nils.txt,0.000000,0.000000,0.000000,0.000005,0.000003,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000003,0.000000,0.000000,0.000006,0.000006,0.000002
osynliga.txt,0.000005,0.000000,0.000000,0.000000,0.000000,0.000012,0.000000,0.000012,0.000000,0.000012,...,0.000002,0.000000,0.000000,0.000006,0.000000,0.000000,0.000000,0.000003,0.000005,0.000001
troll.txt,0.000006,0.000027,0.000014,0.000000,0.000009,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000005,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000011,0.000003,0.000000

In [72]:
word_tf_idf[["känna","gås","nils","et"]]

               känna       gås      nils        et
bannlyst.txt     0.0  0.000000  0.000000  0.000006
gosta.txt        0.0  0.000000  0.000000  0.000000
herrgard.txt     0.0  0.000000  0.000000  0.000000
jerusalem.txt    0.0  0.000000  0.000005  0.000000
kejsaren.txt     0.0  0.000000  0.000008  0.000060
marbacka.txt     0.0  0.000000  0.000008  0.000014
nils.txt         0.0  0.000101  0.000098  0.000000
osynliga.txt     0.0  0.000000  0.000000  0.000000
troll.txt        0.0  0.000000  0.000004  0.000000

In [59]:
word_idf_ser==np.inf

a                   False
abborrar            False
abborrarna          False
abborre             False
abborren            False
abborrens           False
abborrn             False
abcbok              False
abcdarierna         False
abessinien          False
abessinierna        False
abessiniska         False
abraham             False
abrahams            False
absalon             False
absolut             False
absoluta            False
abstinens           False
abu                 False
ach                 False
achmed              False
ack                 False
ackja               False
ackompanjemanget    False
ackompanjera        False
ackord              False
acquilon            False
acquilons           False
adam                False
ade                 False
                    ...
övervanns           False
övervara            False
övervinna           False
övervinnas          False
övervintrat         False
övervunna           False
övervunnen          False
övervunnet          False
övervunnit          False
övervunnits         False
övervuxen           False
överväga            False
övervägde           False
överväldigad        False
överväldigade       False
överväldigande      False
överväldigat        False
överväxta           False
övervåldets         False
övervåning          False
övervåningen        False
övervåningens       False
överöste            False
övet                False
övning              False
övningar            False
övningarna          False
övre                False
övriga              False
övrigt              False
Length: 39328, dtype: bool

In [60]:
(word_idf_ser==np.inf).sum()

1343

In [61]:
(book_count_word==0).sum()

1343

In [63]:
word_df["känna"]

bannlyst.txt     [40632, 66274, 83790, 96285, 97114, 99886, 100...
gosta.txt        [5180, 12309, 20645, 30760, 38776, 42171, 7025...
herrgard.txt     [9657, 10076, 11774, 20331, 41763, 48573, 6078...
jerusalem.txt    [27622, 85291, 111617, 186783, 186965, 257105,...
kejsaren.txt         [4516, 52476, 109515, 192974, 196116, 214277]
marbacka.txt     [129831, 130153, 135178, 162444, 263151, 31724...
nils.txt         [24481, 117169, 133648, 185171, 186391, 186550...
osynliga.txt     [43390, 50556, 51968, 59063, 59220, 59814, 129...
troll.txt        [71489, 125715, 152491, 190662, 198550, 199126...
Name: känna, dtype: object

In [64]:
book_count_word["känna"]

0

In [65]:
word_non_na["känna"]

bannlyst.txt     [40632, 66274, 83790, 96285, 97114, 99886, 100...
gosta.txt        [5180, 12309, 20645, 30760, 38776, 42171, 7025...
herrgard.txt     [9657, 10076, 11774, 20331, 41763, 48573, 6078...
jerusalem.txt    [27622, 85291, 111617, 186783, 186965, 257105,...
kejsaren.txt         [4516, 52476, 109515, 192974, 196116, 214277]
marbacka.txt     [129831, 130153, 135178, 162444, 263151, 31724...
nils.txt         [24481, 117169, 133648, 185171, 186391, 186550...
osynliga.txt     [43390, 50556, 51968, 59063, 59220, 59814, 129...
troll.txt        [71489, 125715, 152491, 190662, 198550, 199126...
Name: känna, dtype: object

In [81]:
book_names = word_tf_idf.index

In [80]:
word_tf_idf.loc["bannlyst.txt",:]

a                   0.000023
abborrar            0.000000
abborrarna          0.000000
abborre             0.000000
abborren            0.000000
abborrens           0.000000
abborrn             0.000000
abcbok              0.000000
abcdarierna         0.000000
abessinien          0.000000
abessinierna        0.000000
abessiniska         0.000000
abraham             0.000000
abrahams            0.000000
absalon             0.000000
absolut             0.000009
absoluta            0.000013
abstinens           0.000000
abu                 0.000000
ach                 0.000000
achmed              0.000000
ack                 0.000008
ackja               0.000000
ackompanjemanget    0.000000
ackompanjera        0.000000
ackord              0.000000
acquilon            0.000000
acquilons           0.000000
adam                0.000000
ade                 0.000000
                      ...
övervanns           0.000000
övervara            0.000006
övervinna           0.000005
övervinnas          0.000025
övervintrat         0.000000
övervunna           0.000000
övervunnen          0.000013
övervunnet          0.000000
övervunnit          0.000003
övervunnits         0.000000
övervuxen           0.000000
överväga            0.000000
övervägde           0.000000
överväldigad        0.000000
överväldigade       0.000000
överväldigande      0.000000
överväldigat        0.000000
överväxta           0.000000
övervåldets         0.000000
övervåning          0.000000
övervåningen        0.000009
övervåningens       0.000000
överöste            0.000013
övet                0.000000
övning              0.000000
övningar            0.000000
övningarna          0.000000
övre                0.000000
övriga              0.000007
övrigt              0.000003
Name: bannlyst.txt, Length: 39328, dtype: float64

In [88]:
similarity = {}
for i in range(book_number):
    for j in range(i,book_number):
        name_a = book_names[i]
        name_b = book_names[j]
        book_a = word_tf_idf.loc[name_a,:]
        book_b = word_tf_idf.loc[name_b,:]
        ab_similirity = (book_a.dot(book_b))/(np.sqrt(np.square(book_a).sum())*np.sqrt(np.square(book_b).sum()))
        if name_a in similarity:
            similarity[name_a][name_b] = ab_similirity
        else:
            similarity[name_a] = {name_b:ab_similirity}

In [89]:
similarity

{'bannlyst.txt': {'bannlyst.txt': 0.99999999999997768,
  'gosta.txt': 0.0052203590659838373,
  'herrgard.txt': 0.0012980341575224051,
  'jerusalem.txt': 0.0073189568346499739,
  'kejsaren.txt': 0.0021443817603568642,
  'marbacka.txt': 0.0050984372524132595,
  'nils.txt': 0.0053453856710307408,
  'osynliga.txt': 0.0059920264891750764,
  'troll.txt': 0.0073414645024007606},
 'gosta.txt': {'gosta.txt': 1.0000000000000488,
  'herrgard.txt': 0.015107711442955465,
  'jerusalem.txt': 0.0085164983503886651,
  'kejsaren.txt': 0.0064957679694795127,
  'marbacka.txt': 0.028537424355427873,
  'nils.txt': 0.024948451353521275,
  'osynliga.txt': 0.05561437359451931,
  'troll.txt': 0.03243586452374464},
 'herrgard.txt': {'herrgard.txt': 0.99999999999996314,
  'jerusalem.txt': 0.007621034172820269,
  'kejsaren.txt': 0.00089161573251933957,
  'marbacka.txt': 0.011705376310155535,
  'nils.txt': 0.014146981059836673,
  'osynliga.txt': 0.021260061568287462,
  'troll.txt': 0.0039854731599218342},
 'jerusalem.txt': {'jerusalem.txt': 1.0000000000000311,
  'kejsaren.txt': 0.0020577102754028177,
  'marbacka.txt': 0.012911484463368931,
  'nils.txt': 0.013090854494191031,
  'osynliga.txt': 0.041853786127810662,
  'troll.txt': 0.0070795112892646532},
 'kejsaren.txt': {'kejsaren.txt': 0.99999999999999878,
  'marbacka.txt': 0.044595487000213631,
  'nils.txt': 0.004372662595042499,
  'osynliga.txt': 0.0055274427108207404,
  'troll.txt': 0.088324221153428348},
 'marbacka.txt': {'marbacka.txt': 1.0000000000000737,
  'nils.txt': 0.04022533900587312,
  'osynliga.txt': 0.042149342499731547,
  'troll.txt': 0.023686651083616117},
 'nils.txt': {'nils.txt': 1.0000000000000502,
  'osynliga.txt': 0.032130274529055571,
  'troll.txt': 0.019383708439220781},
 'osynliga.txt': {'osynliga.txt': 1.0000000000000637,
  'troll.txt': 0.028276969938663604},
 'troll.txt': {'troll.txt': 0.99999999999998734}}

In [90]:
similarity_df = pd.DataFrame(similarity)

In [91]:
print(similarity_df)

               bannlyst.txt  gosta.txt  herrgard.txt  jerusalem.txt  \
bannlyst.txt       1.000000        NaN           NaN            NaN
gosta.txt          0.005220   1.000000           NaN            NaN
herrgard.txt       0.001298   0.015108      1.000000            NaN
jerusalem.txt      0.007319   0.008516      0.007621       1.000000
kejsaren.txt       0.002144   0.006496      0.000892       0.002058
marbacka.txt       0.005098   0.028537      0.011705       0.012911
nils.txt           0.005345   0.024948      0.014147       0.013091
osynliga.txt       0.005992   0.055614      0.021260       0.041854
troll.txt          0.007341   0.032436      0.003985       0.007080

               kejsaren.txt  marbacka.txt  nils.txt  osynliga.txt  troll.txt
bannlyst.txt            NaN           NaN       NaN           NaN        NaN
gosta.txt               NaN           NaN       NaN           NaN        NaN
herrgard.txt            NaN           NaN       NaN           NaN        NaN
jerusalem.txt           NaN           NaN       NaN           NaN        NaN
kejsaren.txt       1.000000           NaN       NaN           NaN        NaN
marbacka.txt       0.044595      1.000000       NaN           NaN        NaN
nils.txt           0.004373      0.040225  1.000000           NaN        NaN
osynliga.txt       0.005527      0.042149  0.032130      1.000000        NaN
troll.txt          0.088324      0.023687  0.019384      0.028277        1.0